* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
	  line-height: 1.45;
    font-style: normal;
}

h1 {
    font-size: 2em;
    font-weight: lighter;
}

body {
    margin: 0;
}

/*Navigation*/
header {
    background: #dbdbdb;
    background: -moz-linear-gradient(top, #d2d2d2 0%, #f7f7f7 85%, #f7f7f7 100%);
    background: -webkit-linear-gradient(top, #d2d2d2 0%, #f7f7f7 85%, #f7f7f7 100%);
    background: linear-gradient(to bottom, #d2d2d2 0%, #f7f7f7 85%, #f7f7f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb', endColorstr='#f7f7f7', GradientType=0);
    height: 80px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
}

.menu-head{
    max-width: 1170px;
    margin: 0 auto;
}

#logo {
    float: left;
}

#logo:hover {
    margin-top: -80px;
}

#menu-bars {
    position: fixed;
    right: 0;
    padding: 10px;
    font-size: 1.5em;
    cursor: pointer;
    color: grey;
}

#menu-items {
    list-style: none;
    float: left;
    margin: 0 auto;
}

#menu-items li{
    border-left: 1px solid #d7d7d7;
    float:left;
    margin: 0 auto;
}

#menu-items li a {
    padding: 35px 10px;
    display: block;
    color: grey;
    text-decoration: none;
    height: 80px;
}

#menu-items i {
    margin-right: 5px;
}

#menu-items a:hover {
    background: #cccccc;
    color: black;
    transition: all 0.2s ease;
}

@media (max-wdth:768px){

    #menu-items{
      display: none;
    }

    #menu-bars{
      display: block;
    }
}

@media (min-width:769px) {

    #menu-bars{
      display: none;
    }
}

/*Main Body*/
main {
    max-width: 1170px;
    padding: 100px 0 0;
    margin: 0 auto 70px;
}

.description {
    border-top: 1px solid #44f445;
    box-shadow: 1px 1px 5px grey;
    padding: 5px 8px 5px 8px;
    column-count: 1;
}

.description a{
  color: #49c821;
  text-decoration: underline;
}

.description a:hover{
  color: #407b4d;
  text-decoration: none;
}

@media (min-width: 320px) {
    .description {
        column-count: 1;
    }
}

@media (min-width: 769px) {
    .description {
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .description {
        column-count: 3;
    }
}

/*Table*/

table th, table td {
    white-space: nowrap;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table i{
    color: green;
}

/*Responsive Table*/
.col4, .col5, .col6{
    display: none;
}

@media (min-width: 768px) {
    .col4, .col5{
        display: table-cell;
    }
}

@media (min-width: 1200px) {
    .col6{
        display: table-cell;
    }
}

th {
    border-bottom: 3px solid #DCDCDC;
    text-align: left;
    font-weight: bold;
    padding-bottom: 5px;
}

td {
    text-align: left;
    border-bottom: 1px solid #DCDCDC;
    height: 30px;
}

th i {
    cursor: pointer;
}

tr:nth-child(even){
  background-color: #DCDCDC;
}

.hideBar{
    margin-top: 10px;
    color: grey;
}

.hideBar b, .hideBar a{
    font-size: 0.9em;
}

.hideBar .showhide{
    cursor: pointer;
    text-decoration: underline;
    color: grey;
    border-right: 2px solid grey;
    padding: 0 4px;
}

.hideBar .showhide:last-child{
    border-right: 0;
}

.showhide:hover{
  text-decoration: none;
}


/*Footer*/

footer {
    bottom: 0;
    margin-top: 50px;
    border-top: 1px solid #44cb25;
    width: 100%;
    color: #545454;
    padding: 10px;
    box-sizing: border-box;
}

footer p {
    margin: 0 auto;
}
footer .left, footer .right{
    float: left;
    width: 50%;
}
footer .right{
    text-align: right;
}
